.carditem__wrapper {
    flex-basis: 29%;
    flex-grow: 1;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow 0.25s ease-in-out 0s;
    padding-bottom: 20px;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.60) 0px 3px 8px;
    }
}

.carditem__img__wrapper {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    height: 210px;
}

.carditem__title {
    text-align: center;
    font-size: 18px;
    color: rgb(4, 17, 29);
    font-weight: 500;
    margin-top: 20px;
}

.carditem__link__wrapper {
    text-align: center;
}

.carditem__link {
    font-weight: 500;
    margin-top: 20px;
    font-size: 14px;
    display: inline-block;
    color: rgb(4, 17, 29);
    padding: 10px 30px;
    border: 1px solid#57DDC3;
    border-radius: 25px;
    transition: 0.3s;
    &:hover {
        background-color: #57DDC3;
        color: #fff;
        cursor: pointer;
    }
}