.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 30px;
}

.homepage__title {
  color: rgb(4, 17, 29);
  font-size: 38px;
  padding: 30px 0;
  font-weight: 500;
}

.pagination__wrapper {
  padding: 40px 0;
}
